.list1{
    display: flex;
    justify-content: space-around;

}
.list1 li {
    list-style: none;
}
.headerleft{
    width: 20%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: black;
    color: white;
}
.nav3right{
    width: 50%;

}
.list2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-weight: 700;
}
.list2 li {
    list-style: none;
    text-transform: uppercase;
}
.list2pp{
    color: #8067f8;
}

.nav3{
   display: flex; 
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  padding-left: 100px;
}
.nav3left div :first-child{
    font-size: 50px;
    color: #8067f8;
    font-weight: 900;
}
.nav3left div :last-child{
    font-size: 50px;
    color: #888e96;
}
.poster1{
    width: 100%;
    position: relative;
}
.poster1 img {
    width: 100%;
}
.in_poster1{
    justify-content: center;
 align-items: center;
 position: absolute;
 top:50%;
 left: 30%;
 text-align: center;
 color: white;
 font-weight: 300;

}
.in_poster1 button{
    background: violet;
    color: white;
    border: 1px solid white;
    padding: 20px 30px;
}
.servicedemo{
    text-align: center;
}
.servicemain{
    display: flex;
   padding: 10px 100px;
}
.servicemain div {
    text-align: center;
}
.servicemain div i {
    font-size: 30px;
    color: tomato;
}
.poster2 {
    height: 200px;
    width: 100%;
    position: relative;
    background-image: url("./images/3.jpg");
   
    text-align: center;
}

.in_poster2{
    position: absolute;
    display: flex;
    justify-content: space-between;
 text-align: center;
top: 50%;
left: 30%;
color: white;

}
.in_poster2 h5{
  margin-right: 100px;
}
.in_poster2 button{
    background-color: tomato;
    color: white;
}
.achievementdemo{
    width: 70%;
    margin: auto;
    text-align: center;
}
.achievementmain-alignment {
    display: flex;
   width: 70%;
   margin: auto;
   justify-content: space-around;
}
.achievementmain-alignment div {
    text-align: center;
}
.achievementmain-alignment div h5 {
    font-size: 50px;
    color: rgb(153, 153, 53);
}
.poster3 {
    width: 100%;
    height: 700px;
    background-image: url("./images/3.jpg");
    position: relative;
}
.poster3-in{
    position: absolute;
background-color: black;
width: 80%;
height: 70%;
bottom: 50px;
left: 70px;
right: 70px;
}
.poster3-top{
    width: 100%;
    height: 50%;
    display: flex;
    background-color: white;
    text-align: center;
    justify-content: space-around;
}
.poster3-bot{
    width: 100%;
    height: 50%;
    display: flex;
    background-color: white;
    text-align: center;
    justify-content: space-around;
}
.poster3-top div{
    padding-top: 80px;
    width: 33%;
}
.poster3-bot div{
    padding-top: 80px;
    width: 33%;

}
.poster3-bot div i{
    color: tomato;
    font-size: 50px;
}
.poster3-top div i{
    color: tomato;
    font-size: 50px;
}
.poster3-bac{
    color: white;
    background-color: tomato;
}
.poster3-bac i{
    color: white;
}